@page
@model SimplePhoneBook.Pages.SimplePhoneBook.PhoneBook.IndexModel

<div class="border backgroundWhite container">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">Phone Book</h2>
        </div>
        <div class="col-6">
            <a asp-page="Upsert" class="btn btn-outline-primary"><i class="fas fa-plus"></i> &nbsp; Create New</a>
        </div>
    </div>
    <br /><br />
    <table id="DT_load" class="table table-secondary table-bordered text-dark" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Entries</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/PhoneBook.js"></script>

}